<!-- <p>about works!</p> -->
<!-- ======= What We Do Section ======= -->
<section id="what-we-do" class="what-we-do">
    <div class="container">

      <div class="section-title">
        <h2>Concept</h2>
        <p class="lead">
            <i class="fas fa-quote-left fa-2x mr-2"></i>
            Fun With Algorithms is a concept which curates algorithms, problems, concepts from various sources under a single platform.
            Besides it's good to try and look up the "concept" and pseudocode of an algorithm in order to get a better understanding, 
            instead of just mugging up code from various websites.
        </p>
      </div>

    </div>
</section><!-- End What We Do Section -->
    <div class="container">
        <hr/>
    </div>
   <!-- ======= About Section ======= -->
   <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-3 text-center">
          <img src="../../../assets/me.jpg" style="border-radius: 50%; height: 200px; width: 200px;" class="img-fluid" alt="">
        </div>
        <div class="col-lg-9 mt-2 pt-4 pt-lg-0">
          <h3>About Author</h3>
          <p class="lead">
            This is Lakshyajit. I currently work as a Full Stack Developer. I like to learn new concepts whenever I get a chance and this webapp,
            started out as an idea to create a place to store and revise algorithms, because I love 'em!
            Feel free to connect!
          </p>
          <p class="lead">
            <a class="social-links" href="https://www.linkedin.com/in/lakshyajit/" target="_blank"><i class="fab fa-linkedin-in m-2"></i></a>
            <a class="social-links" href="https://twitter.com/LakshyajitL" target="_blank"><i class="fab fa-twitter m-2"></i></a>
            <a class="social-links" href="https://github.com/lakshyajit165" target="_blank"><i class="fab fa-github m-2"></i></a>
            <a class="social-links" href="https://www.instagram.com/_c0de_r1der_/" target="_blank"><i class="fab fa-instagram m-2"></i></a>
          </p>
          
        </div>
      </div>
      
    </div>
  </section><!-- End About Section -->