<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>FunWithAlgorithms!</span></h1>
      <h2>A collection of different algorithms(along with pseudocode and explanation) curated from a variety of sources</h2>
      <a class="btn-get-started get-started" (click)="goToAlgo()">Get Started</a>
    </div>
</section><!-- End Hero -->


<section class="section-title container">
  <h2>Key Features</h2>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 mt-3">
        <div class="row p-2" style="display: inline-flex; justify-content: center;">
          <i class="far fa-check-circle fa-3x mr-2"></i>
          <p class="lead mt-2">Concise explanations, and detailed problem statement descriptions.</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="row p-2" style="display: inline-flex; justify-content: center;">
          <i class="fas fa-sliders-h fa-3x mr-2"></i>
          <p class="lead mt-2">Problems of various difficulty levels(and they continue to be added!)</p>
        </div>
      </div>
      <div class="col-lg-4 mt-3">
        <div class="row p-2" style="display: inline-flex; justify-content: center;">
          <i class="fas fa-laptop-code fa-3x mr-2"></i>
          <p class="lead mt-2">Algorithms/Problems collected from a variety of authentic online sources</p>
        </div>
      </div>
    </div>
  </div>
</section>







